body{
    margin: 0; 
}

.container{
    margin: 0 auto;
    width: 1236px;
    font-family: 'Gilroy', sans-serif;
}

.flex-container{
    margin: 0 auto;
    width: 1236px;
    font-family: 'Gilroy', sans-serif;
    display: flex;
    flex-wrap: wrap;
}
.room-title{
    width: 378px;
    margin-top: 223px;
}
.room-title__text{
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    color: #3A3A3A;
    margin: 0;
    margin-bottom: 8px;
}

.room-title__subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #616161;
    margin: 0;
    margin-bottom: 24px;
}

.room-title__button{
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #E89F71;
    border: none;
    padding: 12px 40px;
}

.room-slide{
    margin-top: 44px;
    margin-left: 86px;
    position: relative;
}

.room-slide__second{
    position: absolute;
    right: -242px;
}

.room-slide__therd{
    position: absolute;
    right: -310px;
}

.room-slider__arrow{
    position: absolute;
    right: -272px;
    top: 250px;
    cursor: pointer;
}

.room-slide__text{
    width: 217px;
    height: 130px;
    background: rgba(255, 255, 255, 0.72);
    position: absolute;
    bottom: 24px;
    left: 24px;
}

.room-slide__hyphen{
    vertical-align: middle;
}

.room-slide__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #616161;  
    margin: 0;
    margin-bottom: 8px;
    padding: 32px 0 0 32px;

}

.room-slide__subtitle{
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    color: #3A3A3A;
    margin: 0;
    padding-left: 32px;
}

.room-slide__button{
    padding: 0;
    border: none;
    position: absolute;
    right: -48px;
    bottom:1px;
    cursor: pointer;
}

.room-slide__button-img{
    margin-bottom: -5px;
}

.room-slide__indicator{
    margin-left: 24px;
    margin-bottom: 30px;
}

.tricks-container{
    display: flex;
    justify-content: space-between;
}

.tricks__title{
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #3A3A3A;
    margin: 0;
    margin-top: 88px;
    margin-bottom: 32px;
}

.trikcs-tips{
    position: relative;
}

.tricks-tips__title{
    width: 391px;
    box-sizing: border-box;
    margin-top: -4px;
}

.tricks-tips__title_first{
    padding: 16px 128px 16px 16px;
}

.tricks-tips__title_second{
    padding: 16px 35px 16px 16px;
}

.tricks-tips__title_third{
    padding: 16px 71px 16px 16px;
}

.tricks-tips__text{
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #3A3A3A;
    margin: 0;
}

.tricks-tips__subtitle{
    font-size: 14px;
    line-height: 150%;
    color: #898989;
    margin: 0;
    margin-top: 8px;
}

.trikcs-tips__nav_left{
    position: absolute;
    bottom: 140px;
    left: -40px;
}

.trikcs-tips__nav_right{
    position: absolute;
    bottom: 140px;
    right: -40px;
}

.tricks__img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
}